$xs-color-theme: #e60333;
$xs-color-theme1:#e31556;
$xs-color-font:#d80078;
$xs-color-blue:#409EFF;
$xs-color-gray:#ebeef5;
$xs-color-gray1:#f0f0f2;
$xs-border-0:1px solid rgba(0, 0, 0, 0);
$xs-border-1:1px solid rgba(0, 0, 0, 1);
$input-height:.3rem;
$input-num-h:.4rem;